<!-- <div class="pagination">
    <span class="step-links">
        {% if page.has_previous %}
        <a href="?page={{ page.previous_page_number }}">Previous</a>
        {% endif %}
        <span class="current">
            Page {{ page.number }} of {{ page.paginator.num_pages }}.
        </span>
        {% if page.has_next %}
        <a href="?page={{ page.next_page_number }}">Next</a>
        {% endif %}
    </span>
</div> -->

<div class="flex justify-center my-5">
  <nav aria-label="Pagination">
    <ul class="inline-flex items-center space-x-1 rounded-md text-sm">
      <li>
        {% if page.has_previous %}
        <a
          href="?page={{ page.previous_page_number }}"
          class="inline-flex items-center space-x-2 rounded-md border border-gray-300 bg-white px-4 py-2 font-medium text-gray-500 hover:bg-gray-50"
        >
          <svg
            class="h-5 w-5"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z"
              clip-rule="evenodd"
            />
          </svg>
          <span>Previous</span>
        </a>
        {% endif %}
      </li>
      <li>
        <span
          class="inline-flex items-center rounded-md bg-white px-4 py-2 text-gray-500"
          >Page <b class="mx-1">{{ page.number }}</b> из
          <b class="ml-1">{{ page.paginator.num_pages }}</b></span
        >
      </li>
      <li>
        {% if page.has_next %}
        <a
          href="?page={{ page.next_page_number }}"
          class="inline-flex items-center space-x-2 rounded-md border border-gray-300 bg-white px-4 py-2 font-medium text-gray-500 hover:bg-gray-50"
        >
          <span>Next</span>
          <svg
            class="h-5 w-5"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
              clip-rule="evenodd"
            />
          </svg>
        </a>
        {% endif %}
      </li>
    </ul>
  </nav>
</div>

